<!DOCTYPE>
<html>
    <head>
        <title>Editar funcionário</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <div class="container">
            <h3><a href="/funcionarios">Listar funcionários</a></h3>
            <h1>Editar funcionários</h1>
            <form action="/funcionarios/update/<%= funcionarios._id %>" method="post">
                <table>
                    <tbody>
                        <tr>
                            <td>Nome</td>
                            <td><input type="text" name="nome" required value="<%= funcionarios.nome %>"></td>
                        </tr>
                        <tr>
                            <td>Endereço</td>
                            <td><textarea name="endereco" required ><%= funcionarios.endereco %></textarea></td>
                        </tr>
                        <tr>
                            <td>Cargo</td>
                            <td><input type="text" name="cargo" required value="<%= funcionarios.cargo%>"></td>
                        </tr>
                        <tr>
                            <td>Salário</td>
                            <td><input type="number" name="salario" required value="<%= funcionarios.salario%>"></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit">ATUALIZAR</button>
            </form>
        </div>
    </body>
</html>